node_modules/
dist/
build/
.expo/
.turbo/
*.log
*.tsbuildinfo

# Maxfiy fayllar — hech qachon git'ga tushmasin
.env
.env.*
!.env.example
.env-zaxira/
kodchi/
supabase/.temp/
supabase/.branches/

# OS
.DS_Store
Thumbs.db
